* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN---------------------------------------------------
*/
.mainVideo{
  opacity: 75%;
  
}


.MainCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}

.MainCards .card{
    margin-left: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #FFCA8B;
}

.MainCards .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1.2rem;
    
}

.MainCards button{
    width: 60%;
    height: 17%;
    background-color: #F17524;
    color: black;
    font-weight: 500;
}

.mainSubtitulos h4, h6{
  text-align: center;
}

.mainSubtitulos{
  margin-bottom: 8rem;
}

.mainSegundaSeccion{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainDivImg1, .mainDivImg2, .mainDivImg3, .mainDivImg4, .mainDivImg5, .mainDivImg6{
  position: relative;
}

.mainDivImg1 button, .mainDivImg2 button, .mainDivImg3 button,
.mainDivImg4 button, .mainDivImg5 button, .mainDivImg6 button{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.mainConjuntoImagenes{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.mainSegundaSeccionImg{
  
  max-height: 100%;
  border-width: 1px;
    border-style: solid;
    border-color: #FFCA8B;
    transition: 0.5s;
}

.mainWorkappLogo{
  border-width: 1px;
  border-style: solid;
  border-color: #F17524;
}



/* /MAIN--------------------------------------------
*/

img {
    display: block;
    width: 100%;
}

.header-logo img {
  max-width: 60px;
}

.header {
    background: wheat;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    box-shadow: 0 1px 0 black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F17524 !important;
}

.headerIdiomaList {
    display: flex;
    align-items: center;
}

.headerIdiomaList a {
    display: block;
    font-size: 2,2rem;
    padding: 0.25rem;
}

#header-div-img {
    height: 35px;
}

/*FOOTER*/

.footer-logo img {
    max-width: 200px;
}

.footer-social-icon span {
  font-family: 'Poppins', sans-serif;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
}

.facebook-bg{
  background: #3B5998;
}

.twitter-bg{
  background: #55ACEE;
}

.google-bg{
  background: #DD4B39;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #F17524;
}

.footer-widget ul li a:hover{
  color: #F17524;
}

.footer-widget ul li a {
  color: #878787;
}


.subscribe-form button {
    right: 0;
    background: #F17524;
    border: 1px solid #F17524;
}

.copyright-text p a{
  color: #F17524;
}

/* AREA CLIENTE */

.divBotonAreaCliente {
  float: right;
  position: absolute;
  right: 0;
  top: 100px;
}


.botonAreaCliente {
  padding: 16px;
  background-color: #262626;
  color: #bababa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
}

.botonAreaCliente:hover {
  padding: 16px;
  background-color: #000000;
  color: #F17524;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-decoration: none;
}



.formulariosCliente {
  display: flex;
  flex-direction: row;
}

.registroCliente {
  width: 50%;
  padding: 100px 50px 100px 200px;
  margin: 50px;
}

.ingresoCliente {
  width: 50%;
  padding: 100px 200px 100px 50px;
  margin: 50px;
}

.tituloH4 {
  padding-bottom: 20px;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#emailRegistro {
  border-color: #f17524;
  margin: 30px 0px 30px 0px;
}

.botonFormulario {
  background-color: #000000;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.botonFormulario:hover {
  background-color: #f17524;
  color: #ffca8b;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.radiosForms {
  display: flex;
  justify-content: space-around;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
  .formulariosCliente {
    display: flex;
    flex-direction: column;
  }
  .registroCliente {
    margin: auto;
    width: 100%;
    padding: 100px;
  }
  .ingresoCliente {
    margin: auto;
    width: 100%;
    padding: 100px;
  }
   
}

@media (hover: hover){
  .mainConjuntoImagenes img:hover{
    opacity: 50%; 
    transform: scale(1.05);
}

  .mainBtn{
    opacity: 0%;
  }

  .mainSegundaSeccionImg:hover ~ .mainBtn{
    background-color: #F17524;
    font-weight: 200;
    color: #000000;
    opacity: 100%;
  }

  .mainBtn:hover {
    background-color: #F17524;
    opacity: 100%;
  }
  
  }


/* AREA CLIENTE */
